.inside
  - for field, label of @fields
    .form-row{:class => @types[field]}
      - if @types[field] == "textarea"
        %textarea{:placeholder => label, :name => field}
      - else
        %input{:type => @types[field], :placeholder => label, :name => field, :autocapitalize => "off"}
  .form-row
    %input{:type => "submit"}